*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/src/main/java/com/example/materialdesign/Part01/
app/src/main/java/com/example/materialdesign/Part03/
app/src/main/java/com/example/materialdesign/SelectActivity.java
app/src/main/java/com/example/materialdesign/TestActivity.java


